{% extends 'base.html.twig' %}

{% block body %}
    <section id="accueil" class="container-fluid">
        <div class="blue-divider"></div>
        <div class="row">
            <div class="heading">
                <h1>Muhammed</h1>
                <p>le développeur de retour</p>
            </div>
        </div>

    </section>
{% endblock %}