{% extends 'base.html.twig' %}

{% block body %}
{% for post in posts %}
{{ post.creationDate|date('d/m/Y') }}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content | raw }}</p>
        <a href="index.php?c=post&t=showPost&params[postId]={{ post.id }}" class="add">lire la suite</a>
    </div>
</div>
{% endfor %}
  
{% endblock %}